
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


<nav  class="navbar bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-light p-3" href="">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/375px-Angular_full_color_logo.svg.png" alt="Logo" width="30px" class="d-inline-block align-text-top">
      Angular
      <a class="btn btn-outline-light m-1" routerLink="/coltec" routerLinkActive="active">Coltec</a>
      <a class="btn btn-outline-light m-1" routerLink="/google" routerLinkActive="active">Google</a>
      <a class="btn btn-outline-light m-1" routerLink="/ufmg" routerLinkActive="active">Ufmg</a>
    </a>
    
  </div>
</nav>

<router-outlet></router-outlet>


